.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 59px;
  left: 0;
  right: 0;
  margin-left: -3%;
  margin-right: -3%;
}
.autocomplete-items div {
  padding: 10px;
  padding-left: 55px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
