footer {
    font-family: montserrat, arial, verdana;
}

footer h1,footer  h2,footer  h3,footer  h4,footer  h5,footer  h6 {
    font-family: 'Open Sans', sans-serif;
    color: #07090C;
    font-weight: 700;
}

footer ul,footer  ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #DDD;
    background-color: transparent;
}

footer .input-btn {
    display: inline-block;
    padding: 12px 30px;
    color: #FFF;
    background-color: #f46320;
    border: none;
    text-transform: uppercase;
    opacity: 1;
    font-size: 12.5px;
    font-weight: 400;
}

/*=========================================================
	FOOTER
===========================================================*/
#footer {
    background-color: #07090C;
}

#footer p {
    color: #DDD;
}

#footer a {
    color: #DDD;
}

#footer a:hover {
    color: #f46320;
}

/*------------------------------------*\
	Top Footer
\*------------------------------------*/
.footer-widget {
    margin-bottom: 30px;
}

.footer-widget .widget-title {
    margin-bottom: 15px;
}

.footer-widget .widget-title .title {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 10px;
}

.footer-widget .footer-logo .logo {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-widget .footer-logo .logo > img {
    max-height: 100px;
    padding-top: 25px;
}

footer .fa {
    padding: 0 5px;
}

footer .widget .widget-title .title {
    margin-top: 25px;
    text-align: left;
    font-size: 25px;
    color: #FFF;
    margin-bottom: 30px;
}

footer .widget-article h4 a {
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    display: block;
}

footer .widget .article {
    margin-bottom: 20px;
}

footer .article .article-meta {
    margin-bottom: 10px;
    margin-top: -8px;
}

footer .article .article-meta li {
    margin-top: 10px;
    color: #FFF;
}

footer .messageNewslatter {
    display: inline;
    padding-left: 45px;
}

footer .tags-widget ul li {
    font-size: 18px;
    padding: 4px;
    text-transform: capitalize;
    font-weight: 700;
    color: #FFF;
}

footer .tags-widget ul li span {
    font-weight: 500;
}

/*------------------------------------*\
	Bottom Footer
\*------------------------------------*/

#bottom-footer {
    padding-top: 0;
}

.footer-links {
    text-align: right;
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    display: block;
    padding: 0px 10px;
    color: #DDD;
    font-size: 12.5px;
    text-align: center;
    text-transform: uppercase;
}

.footer-copyright {
    color: #DDD;
    text-align: right;
    margin-bottom: 15px;
}

/*------------------------------------*\
	Widget Article
\*------------------------------------*/
.article.widget-article:after {
    content: "";
    display: block;
    clear: both;
}

.article.widget-article .article-img {
    float: left;
    width: 80px;
    margin-right: 15px;
    margin-bottom: 0px;
    max-width: 60px;
    max-height: 51px;
}

.article.widget-article .article-title {
    font-size: 15px;
}

/*=========================================================
	WIDGET
===========================================================*/
.widget + .widget {
    margin-top: 30px;
}

.widget .widget-title {
    margin-bottom: 15px;
    text-align: center;
}

.widget .widget-title .title {
    font-size: 15px;
    text-transform: uppercase;
    color: #757575;
    margin-top: 0px;
}

/*------------------------------------*\
	Social Widget
\*------------------------------------*/
.social-widget ul li {
    display: inline-block;
}

.social-widget ul li a {
    display: block;
    padding: 15px 15px 12px;
    font-size: 12.5px;
    text-transform: uppercase;
    text-align: center;
}

.widget.social-widget ul li {
    width: 33.33%;
    padding: 3px;
    margin-right: -4px;
}

.social-widget ul li a.facebook {
    color: #FFF !important;
    background-color: #3b5999;
}

.social-widget ul li a.twitter {
    color: #FFF !important;
    background-color: #00aced;
}

.social-widget ul li a.google {
    color: #FFF !important;
    background-color: #d44332;
}

.social-widget ul li a.instagram {
    color: #FFF !important;
    background-color: #8A3AB9;
}

.social-widget ul li a.youtube {
    color: #FFF !important;
    background-color: #E31010;
}

.social-widget ul li a.rss {
    color: #FFF !important;
    background-color: #FE7E00;
}

.social-widget ul li a:hover {
    opacity: 0.8;
}

/*------------------------------------*\
	Subscribe Widget
\*------------------------------------*/
.widget.subscribe-widget {
    padding: 30px 30px 10px;
    background-color: #222;
}

.widget.subscribe-widget form input.input {
    background: #FFF;
    border: none;
}

.subscribe-widget form button.input-btn {
    margin-top: 15px;
}

.widget.subscribe-widget form button.input-btn {
    display: block;
    width: 100%;
}

.footer-widget.subscribe-widget form input.input {
    color: #DDD;
}

.subscribe-widget .messageNewslatter {
    color: #FFF;
    text-align: center;
    padding-top: 15px;
}





.article {
    position: relative;
    margin-bottom: 30px;
}

.top-article .article {
    margin-bottom: 15px;
}

.article .article-img > a {
    display: block;
}

#owl-carousel-3 .article .article-img > a img {
    min-height: 264px;
}

.article .article-img > a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #222;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.article:hover .article-img > a:after {
    opacity: 0.3;
}

.article .article-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.article .article-img img {
    width: 100%;
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
}

.moreArticle .article .article-img img {
    height: 175px;
}

.last-add-article .article-img img {
    height: 250px;
    width: 375px;
}

.article:hover .article-img img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.article .article-img .article-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 22;
}

.article .article-body .article-info {
    margin-bottom: 15px;
}

.article .article-info li {
    display: inline-block;
    margin-right: -2px;
}

.article .article-info .article-type {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #222;
    color: #FFF;
    font-size: 12.5px;
}

.article .article-info .article-category > a {
    display: block;
    padding: 0px 15px;
    height: 30px;
    line-height: 30px;
    background: #f46320;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12.5px;
}

.article .article-info .article-category > a:hover {
    opacity: 0.8;
}

.article .article-title {
    text-transform: uppercase;
    margin-top: 0px;
}

.article .article-title > a {
    font-weight: 700;
}

.article .article-meta {
    margin-bottom: 10px;
    margin-top: 10px;
}

.article .article-meta li {
    display: inline-block;
    color: #37474F;
    font-weight: 400;
    font-size: 12.5px;
    text-transform: uppercase;
}

.article .article-meta li + li {
    margin-left: 10px;
}

#update_article a,
#print_article a {
    background: #333;
    color: #FFF;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-transform: uppercase;
    font-size: 12.5px;
    margin-left: 15px;
}
