{% load static %}
<link rel="stylesheet" href="{% static 'css/footer-css.css' %}">

<!-- FOOTER -->
    <footer id="footer" style="padding-top: 20px">
        <!-- Top Footer -->
        <div id="top-footer" class="section">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-md-4">
                        <!-- footer about -->
                        <div class="footer-widget about-widget">
                            <div class="footer-logo">
                                <a href="#" class="logo" style="width: 250px">
                                    <img src="{% static 'images/logo_ao_min.png' %}" alt="logo">
                                </a>
                                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui.</p>
                            </div>
                        </div>
                        <!-- /footer about -->

                        <!-- footer social -->
                        <div class="footer-widget social-widget">
                            <div class="widget-title">
                                <h3 class="title">Suivez nous</h3>
                            </div>
                            <ul style="padding: 0">
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <!-- /footer social -->

                        <!-- footer subscribe -->
                        <div class="footer-widget subscribe-widget">
                            <div class="widget-title">
                                <h2 class="title">S'abonner à la Newsletter</h2>
                            </div>
                            <form action="" method="POST" role="form" class="formSubscribe" data-url="{% url 'ao:newsletter' %}">
                                {% csrf_token %}
                                <input type="email" name="email" class="input" placeholder="Email:*" maxlength="40" required="" id="id_email" style="margin: 0; border-radius: 0px;">
                                <button class="input-btn" type="button" id="subscribe_submit">S'inscrire</button>
                                <p class="messageNewslatter"></p>
                            </form>

                        </div>
                        <!-- /footer subscribe -->
                    </div>
                    <!-- /Column 1 -->

                    <!-- Column 2 Les plus lus -->
                    <div class="col-md-4">
                        <!-- widget populaires qst -->
                        <div class="widget">
                            <div class="widget-title">
                                <h2 class="title" style="margin-top: 20px">Appels d'offres populaires</h2>
                            </div>
                            {% for ao in popular_aos %}
                                <article class="article widget-article">
                                    <div class="article-img">
                                        <a href="#">
                                            {% if ao.image is None %}
                                                <img style="max-width: 80px; max-height: 51px;" alt="avatar" src="{% static 'images/company-logo-placeholder.png' %}">
                                            {% else %}
                                                <img style="max-width: 80px; max-height: 51px;" alt="avatar" src="{{ ao.image }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="article-body">
                                        <h4 class="article-title">
                                            <a href="{% url 'ao:ao' ao.id %}">{{ ao.title|truncatechars:60 }}</a></h4>
                                        <ul class="article-meta">
                                            <li><i class="icon-feather-clock"></i> {{ ao.date_limit|date }}</li>
                                            <li><i class="icon-feather-eye"></i> {{ ao.views }}</li>
                                        </ul>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <!-- /widget dernières vidéos -->
                    </div>
                    <!-- /Column 2 Les plus lus -->

                    <!-- Column 4 Meilleurs Tags -->
                    <div class="col-md-4">
                        <div class="widget tags-widget">
                            <div class="widget-title">
                                <h2 class="title" style="margin-bottom: 22px; margin-top: 20px">Meilleurs Keywords</h2>
                            </div>
                            <ul>
                                {% for keyword in top_keywords_ao %}
                                    <li>
                                        <a href="javascript:void(0);">{{ keyword }}</a>
                                        <span class="pull-right">{{ keyword.count_p }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Column 4 Meilleurs Tags -->
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /Top Footer -->

        <!-- Bottom Footer -->
        <div id="bottom-footer" class="section">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- footer links -->
                    <div class="col-md-6 col-md-push-6">
                       <div class="footer-copyright" style="text-align: left">
                            <span>
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());

                                </script>
                                Tous droits réservés | Réalisé par
                                <a href="javascript:void(0)">ESPR</a>
                            </span>
                        </div>


                    </div>
                    <!-- /footer links -->

                    <!-- footer copyright -->
                    <div class="col-md-6 col-md-pull-6">
                        <!--<ul class="footer-links">
                            <li><a href="#">à propos</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>-->
                    </div>
                    <!-- /footer copyright -->
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /Bottom Footer -->
    </footer>
    <!-- /FOOTER -->