{% load staticfiles %}

    <link rel="stylesheet" href="{% static 'main_app/css/main_style.css' %}">

<div class="topnav" id="myTopnav">
    <div class="container">
        <a href="/" class="f-left nav-acceuil nava" id="acceuil" style="padding: 7px 16px;" > Acceuil</a>
        <a href="/qa" class="border-left-beige f-left nav-qa nava" id="" style="padding: 7px 16px;" >Q&A</a>
        <a href="/journal" class="border-left-beige f-left nav-news nava" id="" style="padding: 7px 16px;" >News</a>
        <a href="/e_commerce" class="border-left-beige f-left nav-market nava" id="linkMarketPlace" style="padding: 7px 16px;" >Market Place</a>
        <a href="/E-Learning/" class="border-left-beige f-left .linkELearning nav-learning nava" style="padding: 7px 16px;"   id="linkELearning">E-learning</a>
        <a href="/reseausocial" class="border-left-beige f-left nava" style="padding: 7px 16px;"  id="linkReseauSocial">Réseau social</a>
        <a href="/appelsOffres" class="border-left-beige f-left nava" style="padding: 7px 16px;"  id="linkAppelsOffres">Appels d'offres</a>

        <div class="dropdowncss" id="dropdown1" >
            <button class="dropbtn">Plus
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/reseausocial" class="border-left-beige f-left nav-social nava" style="padding: 7px 16px;"  id="linkReseauSocial1">Réseau social</a>
                <a href="/appelsOffres" class="border-left-beige f-left nav-offres nava" style="padding: 7px 16px;" >Appels d'offres</a>
            </div>
        </div>

        <div class="dropdowncss" id="dropdown2" >
            <button class="dropbtn">Plus
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/e_commerce" class="border-left-beige f-left nav-market nava" style="padding: 7px 16px;" >Market Place</a>
                <a href="/E-Learning/" class="border-left-beige f-left nav-learning nava" style="padding: 7px 16px;" >E-learning</a>
                <a href="/reseausocial" class="border-left-beige f-left nav-social nava" style="padding: 7px 16px;"  id="linkReseauSocial2">Réseau social</a>
                <a href="/appelsOffres" class="border-left-beige f-left nav-offres nava" style="padding: 7px 16px;" >Appels d'offres</a>
            </div>
        </div>

        {% if user.is_authenticated %}
            <a href="/logout" class=" border-right f-right nava" style="padding: 7px 16px;" ><i class="fa fa-sign-out "></i> Se deconnecter</a>
            <a href="#" class="f-right  nava" style="padding: 7px 16px; text-transform: none; color: white; background-color: #ea4c0f;">Bonjour {{ user.first_name }}</a>
        {% else %}
            <a href="/contactus" class=" border-right f-right nava" style="padding: 7px 16px;" ><i class="fa fa-envelope"></i></a>
            <a href="/login" class="f-right  border-right nava" style="padding: 7px 16px;" ><i class="fa fa-sign-in"></i> Se connecter</a>
            <a href="/signup" class="border-left border-right f-right nava" style="padding: 7px 16px;"  >S'inscrire</a>
        {% endif %}
        <a href="javascript:void(0);" class="icon nava" style="padding: 7px 16px;"  onclick="myFunction()">&#9776;</a>
    </div>
</div>