
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    text-transform: uppercase;
}

.topnav .container {
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto
}
@media (min-width:768px) {
 .topnav .container {
  width:750px
 }
}
@media (min-width:992px) {
 .topnav .container {
  width:970px
 }
}
@media (min-width:1200px) {
 .topnav .container {
  width:1170px
 }
}

/* Style the links inside the navigation bar */
.topnav .nava {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 11px;
    transition: .3s all;
}

.topnav .nava i {
    margin: 0 5px;
}

.f-left {
    float: left;
}

.border-left {
    border-left: 1px solid beige;
}
.border-right{
    border-right: 1px solid beige;
}

/* Add an active class to highlight the current page */
.topnav .active {
    background-color: #ea4c0f;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdowncss {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdowncss .dropbtn {
    font-size: 13px;
    border: none;
    outline: none;
    color: white;
    padding: 6px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: .3s all;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content .nava {
    float: none;

    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav .nava:hover, .dropdowncss:hover .dropbtn {
    background-color: #ddd;
    color: black;
}


/* Add a grey background to dropdown links on hover */
.dropdown-content .nava:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdowncss:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {

  .topnav a:not(:first-child){display: none;}
  .topnav a.icon{
    float: right;
    display: block;
  }

  .border-left {
      border: 0;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 1276px) {
  #dropdown1 {
    display: block;
  }
  #linkReseauSocial,#linkAppelsOffres,#dropdown2 {
    display:none;
  }
}


@media screen and (min-width: 1276px) {
  #dropdown2,#dropdown1 {
    display: none;
  }

}

@media screen and (max-width: 1000px) {
  #dropdown2 {
    display: block;
  }
  #linkReseauSocial,#linkAppelsOffres,#linkMarketPlace,#linkELearning,#dropdown1 {
    display:none;
  }
}



@media screen and (max-width: 700px) {
    #linkAppelsOffres,#linkELearning,#linkMarketPlace,#linkReseauSocial{
    display: none;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .nava.icon {
    position: absolute;
    right: 0;
    top: 0;
  }



  .topnav.responsive .nava,.topnav.responsive div  {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdowncss {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdowncss   {
    display: block;
    width: 100%;
    text-align: left;
  }

  .dropbtn{
    display:none;
  }



}



/* My Css */
.f-right {
        float: right;
}

.genre {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

.inline-block-c{

    display:inline-block;
}


/* Inscription CSS */





/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea , #msform select{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform select {
    padding: 12px;
}

#msform input[type="radio"]{
    width: 27%;
}

#msform label[for="id_civilite_0"],#msform label[for="id_civilite_1"],#msform label[for="id_civilite_2"]{
    width: 51px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ea4c0f;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #ea4c0f;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ea4c0f;
}

#msform .action-button-previous {
    width: 100px;
    background: #c79e8e;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #333;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    border: 1px solid #d1dbff;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: whitesmoke;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ea4c0f;
    color: white;
}

.label-register{

    display:block;
    line-height: 57px;
    color:#777;
    text-align:left;
}

@media screen and (max-width: 700px) {

.label-register{
    text-align:center;
}
}

.obligatoire {
    color: #ea4c0f;
    font-weight:bold;
}

.deja-compte{
    text-align: center;
    padding-top: 32px;
}

.error_form{
    color:red;
    font-size:13px;
}

.displaynone{
    display:none;
}