/*
* Theme Name: bizwrap - Elegant minimal business
* Live example at: http://bootstraplovers.com/templates/bizwrap3.0/index.html
* Version: v3.2
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i");
@font-face {
  font-family: "Ionicons";

  src: url("../icons/fonts/ionicons28b5.eot?v=2.0.0");
  src: url("../icons/fonts/ionicons28b5.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../icons/fonts/ionicons28b5.ttf?v=2.0.0") format("truetype"), url("../icons/fonts/ionicons28b5.woff?v=2.0.0") format("woff"), url("../icons/fonts/ionicons28b5.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Basic Styles
================================================== */
body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  cursor: default;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #777;
  height: 100%; }

a {
  text-decoration: none;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  a:hover, a:focus {
    text-decoration: none; }
  a.hover-color, .blog-post-title a:hover, .news-post-cat a:hover {
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    a.hover-color:hover, .blog-post-title a:hover, .news-post-cat a:hover {
      color: #c80000 !important;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }

.text-primary {
  color: #c80000 !important; }

.padd-section {
  padding: 90px 0; }

.onepage-home {
  padding-top: 60px; }

p.lead {
  font-weight: 400; }

i {
  display: inline-block; }

.fs-1x {
  font-size: 1rem !important; }

.fs20 {
  font-size: 20px !important; }

/* Enable custom submit button styling in Safari mobile */
input[type='submit'] {
  -webkit-appearance: none; }

label {
  font-weight: 400;
  color: #000; }

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background-color: #c80000; }

::selection {
  color: #fff;
  text-shadow: none;
  background-color: #c80000; }

p, blockquote {
  line-height: 23px; }

blockquote {
  font-style: italic; }

iframe, fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.responsive-video {
  width: 100%;
  position: relative;
  padding: 0;
  padding-top: 50.25%; }

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.overflow-hidden {
  overflow-x: hidden; }

/*==================== ========*/
/*========= Forms =========*/
/*============================*/
.form-box {
  padding: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px #999;
  -moz-box-shadow: 0px 1px 2px #999;
  -ms-box-shadow: 0px 1px 2px #999;
  box-shadow: 0px 1px 2px #999; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
  display: inline-block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  min-height: 44px;
  color: #7a7a7a;
  font-family: "Poppins", sans-serif;
  background: #FFF;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
  border: 1px solid #b3b3b3;
  background: #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 20px; }

h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

h5 {
  font-size: 17px;
  line-height: 24px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

small {
  font-size: 80%; }

/***icheck css**/
/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-gray,
.iradio_square-gray {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../img/grey.png) no-repeat;
  border: none;
  cursor: pointer; }

.icheckbox_square-gray {
  background-position: 0 0; }

.icheckbox_square-gray.hover {
  background-position: -24px 0; }

.icheckbox_square-gray.checked {
  background-position: -48px 0; }

.icheckbox_square-gray.disabled {
  background-position: -72px 0;
  cursor: default; }

.icheckbox_square-gray.checked.disabled {
  background-position: -96px 0; }

.iradio_square-gray {
  background-position: -120px 0; }

.iradio_square-gray.hover {
  background-position: -144px 0; }

.iradio_square-gray.checked {
  background-position: -168px 0; }

.iradio_square-gray.disabled {
  background-position: -192px 0;
  cursor: default; }

.iradio_square-gray.checked.disabled {
  background-position: -216px 0; }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_square-gray,
  .iradio_square-gray {
    background-image: url(../img/grey%402x.png);
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px; } }

/*****preloader**********/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #fff; }

#preloader #preloader-inner {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c80000;
  animation: spin 2s linear infinite; }

#preloader #preloader-inner:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c80000;
  animation: spin 3s linear infinite; }

#preloader #preloader-inner:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c80000;
  animation: spin 1.5s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(1turn); } }

/**********back to top*************/
.scrollToTop {
  text-align: center;
  font-size: 30px;
  background: transparent;
  font-weight: bold;
  color: #c80000;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999999;
  display: none;
  opacity: 0.5;
  line-height: 0px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
  color: #43baa5; }

.no-margin {
  margin: 0 !important; }

h4.heading-mini {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 18px;
  color: #000;
  margin-bottom: 20px; }

h3.heading-sec {
  font-weight: 600;
  display: block;
  margin-bottom: 40px;
  color: #000;
  font-size: 29px;
  text-transform: uppercase;
  text-align: center; }

h3.subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #b3b3b3;
  font-style: italic;
  font-family: "Playfair Display", serif; }

.header-main {
  width: 100%; }

.help-block {
  margin: 0px; }
  .help-block ul {
    list-style: none;
    padding: 0px; }
    .help-block ul li {
      background-color: #843534;
      color: #fff;
      font-size: 13px;
      padding: 3px 10px;
      margin-top: 5px; }

/*margin spaces*/
.space-10 {
  width: 100%;
  height: 10px;
  clear: both; }

.space-20 {
  width: 100%;
  height: 20px;
  clear: both; }

.space-30 {
  width: 100%;
  height: 30px;
  clear: both; }

.space-40 {
  width: 100%;
  height: 40px;
  clear: both; }

.space-50 {
  width: 100%;
  height: 50px;
  clear: both; }

.space-70 {
  width: 100%;
  height: 50px;
  clear: both; }

.margin-btm-20 {
  margin-bottom: 20px; }

.margin-btm-40 {
  margin-bottom: 40px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-40 {
  margin-top: 40px; }

/*--------padding------------*/
.padding-40 {
  padding: 40px 0; }

.no-padding {
  padding: 0px; }

.header .top-bar.navbar {
  padding: 0px;
  background-color: #fff; }
  .header .top-bar.navbar .nav-item {
    height: 40px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-left: 1rem;
    position: relative; }
    .header .top-bar.navbar .nav-item:first-child {
      margin-left: 0px; }
    .header .top-bar.navbar .nav-item .nav-link {
      padding: 0px; }
    .header .top-bar.navbar .nav-item i {
      font-size: 18px;
      display: inline-block;
      vertical-align: middle; }
  .header .top-bar.navbar a {
    color: inherit;
    font-size: 12px;
    display: block; }
  .header .top-bar.navbar .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    top: 100%; }
    .header .top-bar.navbar .dropdown-menu.dropdown-menu-sm {
      width: 91px;
      min-width: 91px; }

nav.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #000; }

nav.navbar.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, nav.navbar.navbar-expand-lg .navbar-nav .nav-item.show .nav-link {
  color: #c80000; }

nav.navbar.navbar-expand-lg .icon-search {
  font-size: 20px;
  color: #000; }

nav.navbar.navbar-expand-lg .form-inline {
  min-width: 280px;
  position: relative; }
  nav.navbar.navbar-expand-lg .form-inline .form-control {
    width: 100%;
    border-radius: 4px;
    line-height: 1; }
  nav.navbar.navbar-expand-lg .form-inline .form-search-button {
    position: absolute;
    right: 3px;
    border-radius: 4px;
    top: 3px;
    width: 38px;
    height: 38px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #c80000;
    color: #fff; }

@media (min-width: 992px) {
  .navbar.navbar-expand-lg {
    padding-top: 0px;
    padding-bottom: 0px; }
    .navbar.navbar-expand-lg .nav-item, .navbar.navbar-expand-lg .right-search {
      height: 60px;
      padding-left: .75rem;
      padding-right: .75rem;
      line-height: 1;
      align-items: center;
      justify-content: center;
      display: flex; }
      .navbar.navbar-expand-lg .nav-item:last-child, .navbar.navbar-expand-lg .right-search:last-child {
        padding-right: 0px; }
    .navbar.navbar-expand-lg .nav-link {
      padding: 0px; }
  /*transparent header**/
  .header.header-transparent {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999; }
    .header.header-transparent .top-bar {
      background-color: transparent; }
    .header.header-transparent .navbar-brand img {
      position: absolute;
      top: 20px; }
      .header.header-transparent .navbar-brand img.logo-dark {
        opacity: 0; }
    .header.header-transparent.header-light nav.navbar.navbar-expand-lg .icon-search, .header.header-transparent.header-light nav.navbar.navbar-expand-lg .nav-link, .header.header-transparent.header-light nav.navbar.navbar-expand-lg .nav-item, .header.header-transparent.header-light .navbar .icon-search, .header.header-transparent.header-light .navbar .nav-link, .header.header-transparent.header-light .navbar .nav-item {
      color: rgba(255, 255, 255, 0.85); }
    .header.header-transparent.header-light nav.navbar.navbar-expand-lg .nav-item.active .nav-link, .header.header-transparent.header-light nav.navbar.navbar-expand-lg .nav-item.show .nav-link, .header.header-transparent.header-light .navbar .nav-item.active .nav-link, .header.header-transparent.header-light .navbar .nav-item.show .nav-link {
      color: #c80000; }
  .header.header-sticky {
    z-index: 999;
    transition: all .3s;
    -webkit-transition: all .3s; }
    .header.header-sticky .navbar-brand img {
      position: absolute;
      top: 20px; }
  .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    animation: fadeInDown .3s;
    -webkit-animation: fadeInDown .3s;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999; }
    .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .navbar-nav, .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .nav-link, .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .icon-search {
      color: #000; }
    .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .navbar-brand img.logo-light {
      opacity: 0; }
    .header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .navbar-brand img.logo-dark {
      opacity: 1; } }

header.header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .nav-item.show .nav-link, header.header.header-sticky.sticky-active nav.navbar.navbar-expand-lg .nav-item.active .nav-link {
  color: #c80000 !important; }

/*============================*/
/*======dropdowm menu=========*/
/*============================*/
.navbar .dropdown-menu {
  padding: 10px;
  margin: 0;
  min-width: 190px;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #ddd; }
  .navbar .dropdown-menu .dropdown-item {
    color: #999;
    font-family: "Poppins", sans-serif;
    padding: 9px 20px;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .navbar .dropdown-menu .dropdown-item:hover, .navbar .dropdown-menu .dropdown-item:focus, .navbar .dropdown-menu .dropdown-item:active {
      color: #c80000;
      background-color: transparent; }

/******************

MULTI LEVEL DROPDOWN CSS

*********************/
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100% !important;
  margin-top: 0px;
  margin-left: 0px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  top: 7px;
  right: 18px;
  font-size: 11px;
  content: "\f3d3" !important;
  font-family: "Ionicons" !important;
  position: absolute;
  font-weight: normal;
  display: inline-block;
  font-family: FontAwesome; }

.dropdown-submenu.float-left {
  float: none; }

.dropdown-submenu.float-left > .dropdown-menu {
  left: -100%important;
  margin-left: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

.lang-dropdown {
  width: 100px;
  min-width: 100px;
  right: 0;
  left: auto;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
  .lang-dropdown > li > a {
    margin-right: 0px !important; }

@media (min-width: 992px) {
  .navbar .yamm-content .mega-vertical-nav .dropdown-item {
    padding-left: 0px;
    padding-right: 0px; } }

.yamm .dropdown.dropdown-fw {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .dropdown-menu {
  left: auto; }

.yamm .yamm-content {
  padding: 20px 30px; }

.yamm .dropdown.dropdown-fw .dropdown-menu {
  left: 0;
  right: 0; }

.yamm .mega-vertical-nav li {
  display: block; }
  .yamm .mega-vertical-nav li a {
    padding-left: 0px;
    padding-right: 0px; }

.yamm .heading {
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  font-weight: 700; }

/*flex slider*/
.slider-reg {
  width: 100%; }

.swiper-fullwidth .swiper-slide {
  position: relative;
  overflow: hidden; }
  .swiper-fullwidth .swiper-slide .swiper-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/pattern.png);
    background-repeat: repeat; }
    .swiper-fullwidth .swiper-slide .swiper-overlay .swiper-title {
      color: #fff;
      font-size: 40px;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 25px;
      text-transform: uppercase;
      text-align: center; }
    .swiper-fullwidth .swiper-slide .swiper-overlay p {
      color: #fff;
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-size: 20px;
      margin-bottom: 30px; }
    .swiper-fullwidth .swiper-slide .swiper-overlay .slider-text {
      transition: all .35s ease-in-out;
      -webkit-transition: all .35s ease-in-out;
      transition-delay: .5;
      -webkit-transition-delay: .5s;
      transform: translateY(50px);
      -webkit-transform: translateY(50px);
      opacity: 0; }
  .swiper-fullwidth .swiper-slide.swiper-slide-active .slider-text {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: none;
  color: #fff;
  font-family: "Ionicons"; }

.swiper-button-next, .swiper-container-rtl .swiper-button-next {
  background-image: none;
  color: #fff;
  font-family: "Ionicons"; }

.swiper-button-prev, .swiper-button-next {
  font-size: 3rem;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.slider-testimonials {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #000; }
  .slider-testimonials p {
    color: #fff;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300; }
  .slider-testimonials h6 {
    color: #fff;
    opacity: .8;
    margin-top: 20px;
    margin-bottom: 0px; }

/********************
Carousel Bootstrap4 slider
********************/
.carousel.carouselBizwrap {
  height: 500px;
  position: relative;
  overflow: hidden; }
  .carousel.carouselBizwrap .carousel-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../img/pattern.png");
    background-repeat: repeat; }
  .carousel.carouselBizwrap .carousel-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
    .carousel.carouselBizwrap .carousel-inner .carousel-item {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top center; }
  .carousel.carouselBizwrap .carousel-control-prev, .carousel.carouselBizwrap .carousel-control-next {
    z-index: 12; }
    .carousel.carouselBizwrap .carousel-control-prev:after, .carousel.carouselBizwrap .carousel-control-next:after {
      content: "";
      font-family: "Ionicons";
      color: #fff;
      font-size: 60px;
      position: absolute; }
  .carousel.carouselBizwrap .carousel-control-prev:after {
    content: "\f3d2";
    left: 15px; }
  .carousel.carouselBizwrap .carousel-control-next:after {
    content: "\f3d3";
    right: 15px; }
  .carousel.carouselBizwrap .carousel-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: table; }
    .carousel.carouselBizwrap .carousel-content .container {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 9; }
    .carousel.carouselBizwrap .carousel-content .pos-ab-image {
      position: absolute;
      right: 50px;
      top: 0; }
    .carousel.carouselBizwrap .carousel-content h3 {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 3rem; }
    .carousel.carouselBizwrap .carousel-content p {
      color: rgba(255, 255, 255, 0.8); }

/*
Accordoins style
*/
/*
Accordoins card style
*/
.accordion-header {
  position: relative; }

.accordion-header a {
  position: relative;
  display: block;
  color: #c80000;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase; }

.accordion-header a:before {
  content: "\f3d0";
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Ionicons'; }

.accordion-header a.collapsed {
  color: #c80000; }

.accordion-header a.collapsed:before {
  content: "\f3d3";
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Ionicons'; }

.card-accordion-simple .card {
  border: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px; }

.card-accordion-simple .card-header {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin-bottom: 10px; }

.card-accordion-simple .card-header a {
  display: block;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.05); }

.card-accordion-simple .card-header a:before {
  top: 9px;
  right: 15px; }

.card-accordion-simple .card-block {
  padding: 20px 15px;
  padding-top: 10px; }

/**********************************************footer*****************************************/
#footer {
  background-color: #000;
  padding: 60px 0; }
  #footer.shop-footer {
    background-color: #f7f7f7; }
    #footer.shop-footer .footer-bottom {
      border-top-color: #eee; }
    #footer.shop-footer .footer-col h3 {
      color: #000; }
    #footer.shop-footer .footer-col p {
      color: #666; }
    #footer.shop-footer .footer-col form .form-control {
      background-color: #f3f3f3;
      border: 1px solid #ddd;
      color: #333; }
    #footer.shop-footer .footer-col .social-btn li a i {
      color: #333;
      border-color: #333; }
      #footer.shop-footer .footer-col .social-btn li a i:hover {
        border-color: #c80000;
        color: #fff; }
    #footer.shop-footer .footer-col .post-list li a {
      border-color: #ddd;
      color: #666; }

.footer-col h3 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px; }
  .footer-col h3:first-letter {
    border-bottom: 5px solid #c80000; }

.footer-col p {
  font-size: 14px;
  color: #b3b3b3; }

.footer-col form .form-control {
  background-color: #111;
  border: none;
  color: #fff;
  margin-bottom: 15px; }
  .footer-col form .form-control:focus {
    background-color: #333;
    border: none; }

.footer-col form textarea {
  background-color: #111;
  border: none;
  color: #fff; }
  .footer-col form textarea:focus {
    background-color: #333;
    border: none; }

.footer-col .social-btn li a i {
  color: #fff;
  border: 2px solid #fff; }
  .footer-col .social-btn li a i:hover {
    background-color: #c80000;
    border-color: #c80000; }

.post-list li a {
  color: #b3b3b3;
  font-weight: 500;
  font-size: 14px;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #444; }

.footer-bottom {
  border-top: 1px solid #111;
  padding-top: 30px; }
  .footer-bottom span {
    color: #999;
    font-weight: 400;
    font-size: 14px; }

/**************footer option ********************/
#footer-option {
  background: #121214;
  border-top: 8px solid #c80000;
  padding: 80px 0 0;
  position: relative;
  clear: both; }
  #footer-option .footer-col {
    font-size: 0.9em; }
    #footer-option .footer-col .form-control {
      height: 44px;
      background-color: #eeeeee;
      color: #333;
      margin-bottom: 0px; }

.input-group-btn {
  height: 44px; }
  .input-group-btn .btn {
    height: 44px; }

.footer-col a.tweet-ac {
  display: block;
  color: #fff; }

.footer-col a.tweet-day {
  display: block;
  color: #fff;
  font-size: 0.9em; }

.footer-col .tweet-desc {
  margin: 5px 0; }
  .footer-col .tweet-desc i {
    margin-right: 10px; }

.footer-col hr {
  border-color: #333; }

.footer-copyright {
  background: #0C0C0C;
  border-top: 4px solid #111;
  margin-top: 40px;
  padding: 30px 0 30px; }
  .footer-copyright span {
    font-size: 0.9em; }

.footer-nav {
  margin: 0;
  padding: 0;
  text-align: right; }
  .footer-nav li a {
    color: #fff;
    font-size: 0.9em; }
    .footer-nav li a:hover {
      color: #c80000; }

/*****************bootstrap tabs overrides*****************************/
/*tabs*/
.tabs .nav-tabs {
  border-bottom: none; }

.tabs .nav-tabs li {
  margin-bottom: 0; }

.tabs .nav-tabs li a {
  background: #f7f7f7;
  margin-right: 2px;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  border-bottom: none !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 12px 20px;
  color: #6d6d6d;
  position: relative; }

.tabs .nav-tabs li a:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 3px; }

.tabs .nav-tabs li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px; }

.tabs .nav-tabs li a:hover {
  border-color: #f7f7f7; }

.tabs .nav-tabs > li > a .fa {
  margin-right: 4px; }

.tabs .nav-tabs li.active a {
  color: #c80000;
  border-left-color: #eee;
  border-right-color: #eee;
  background: #fff; }

.tabs .nav-tabs li.active a:after {
  background: #c80000; }

.tabs .nav-tabs li.active a:before {
  background: #fff; }

.tabs .nav-tabs li.active a:hover {
  border-bottom-color: #fff; }

.tabs .tab-content {
  padding: 15px 8px;
  border: 1px solid #eee;
  background: #fff; }

.tab-content p {
  overflow: hidden; }

.tabs .tab-content:before,
.tabs .tab-content:after {
  content: " ";
  display: table; }

.tabs .tab-content:after {
  clear: both; }

.tabs .tab-content p:last-child {
  margin-bottom: 0; }

/*************************************buttons for bizwrap theme********************************/
.btn {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-shadow: none;
  padding-top: .6rem;
  padding-bottom: .4rem;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  letter-spacing: .5px; }
  .btn:hover, .btn:focus, .btn.active, .btn.focus, .btn:active {
    outline: none;
    box-shadow: none !important; }
  .btn.btn-lg {
    padding: 14px 25px 10px; }
  .btn.btn-block {
    width: 100%;
    display: block; }

/*button white for colored background*/
.btn-white {
  background-color: transparent;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 2px solid #fff; }
  .btn-white:hover {
    background-color: #fff;
    color: #222; }

.btn-dark {
  background-color: #333;
  color: #fff; }
  .btn-dark:hover {
    background-color: #666; }

.btn-big {
  padding: 14px 25px; }

/*button default*/
.theme-btn-default {
  background-color: #fff;
  border: 1px solid #eee;
  color: #555; }
  .theme-btn-default:hover, .theme-btn-default:focus {
    color: #fff;
    background-color: #000;
    border-color: #000; }

/*theme color button*/
.theme-btn-color {
  background-color: #c80000;
  border-color: #c80000;
  color: #fff; }
  .theme-btn-color:hover {
    color: #fff;
    background-color: #000;
    border-color: #000; }

.theme-btn-color-outline {
  background-color: transparent;
  border-color: #c80000;
  color: #c80000; }
  .theme-btn-color-outline:hover {
    color: #fff;
    background-color: #c80000;
    border-color: #c80000; }

.btn-dark-outline {
  background: transparent;
  color: #333;
  border-color: #333; }
  .btn-dark-outline:hover {
    color: #fff;
    background: #333; }

.btn-sweet-alert {
  margin: 5px; }

/***btn radius***/
.btn-radius {
  padding: 12px 50px 9px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px; }

.buttons button {
  margin-bottom: 10px; }

/*****************************sidebar css****************************/
.sidebar-box {
  margin-bottom: 30px; }
  .sidebar-box h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px; }
    .sidebar-box h4:first-letter {
      border-bottom: 5px solid #c80000; }
  .sidebar-box .social-btn li a i {
    background-color: #000;
    color: #fff; }

.widget-search .search-form {
  position: relative; }
  .widget-search .search-form i {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 45px;
    text-align: center;
    color: #999; }

.cat-list {
  padding: 0px;
  list-style: none; }
  .cat-list li {
    padding: 3px 0; }
    .cat-list li a {
      color: #555;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase; }

.recent {
  width: 100%;
  margin-bottom: 20px;
  float: left; }
  .recent span img {
    float: left;
    margin-right: 10px;
    height: 50px;
    width: auto; }
  .recent p {
    margin: 0;
    line-height: 22px;
    font-size: 15px;
    overflow: hidden; }
    .recent p a {
      color: #555; }
  .recent .recent-date {
    font-size: 10px;
    color: #999;
    font-weight: 600;
    text-transform: uppercase; }

/******************pricing************************/
.pricing-wrapper {
  border: 1px solid #eee; }

.pricing-head {
  padding: 20px 10px;
  background-color: #000;
  text-align: center; }
  .pricing-head h3 {
    margin: 0px;
    color: #fff; }

.pricing-rate {
  padding: 30px 10px;
  background-color: #c80000;
  text-align: center; }
  .pricing-rate h1 {
    color: #FFF;
    margin: 0px; }
    .pricing-rate h1 small {
      color: #E9E9E9;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700; }

.pricing-desc ul {
  padding-left: 0px;
  margin: 0; }
  .pricing-desc ul li {
    padding: 12px 20px;
    border-bottom: 1px solid #eee; }

.pricing-select {
  padding: 10px 20px;
  text-align: center; }
  .pricing-select a {
    display: block; }

.price-faq-box {
  padding: 20px 0;
  border-bottom: 1px solid #eee; }
  .price-faq-box h3 {
    font-size: 20px; }

/************************news and blog sec*****************************/
/*latest news*/
.news-sec {
  border: 1px solid #eee;
  color: #000;
  background-color: #fff; }

.blog-post-title {
  margin-bottom: 5px;
  line-height: 20px;
  color: #333; }
  .blog-post-title a {
    font-size: 15px;
    font-weight: 400;
    color: inherit; }

.news-desc {
  padding: 10px 20px; }
  .news-desc p {
    color: #7a7a7a; }

.news-post-cat {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  margin-bottom: 10px;
  margin-top: 10px; }
  .news-post-cat a {
    color: inherit; }

.news-thumnail img {
  opacity: .8;
  filter: alpha(opacity=80); }

.news-thumnail img:hover {
  opacity: 1;
  filter: alpha(opacity=100); }

/*blog page*/
.blog-post-section {
  border: 1px solid #eee;
  padding: 15px 10px; }

.blog-post-img {
  margin-bottom: 30px; }

.blog-post-header {
  text-align: center; }
  .blog-post-header h3 {
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px; }
    .blog-post-header h3 a {
      color: #000; }

.blog-post-info {
  text-align: center;
  margin-bottom: 30px; }
  .blog-post-info span {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: #999; }
    .blog-post-info span a {
      color: #666; }

.blog-post-detail {
  margin-bottom: 30px; }
  .blog-post-detail a {
    color: #c80000; }

.blog-post-more {
  margin-bottom: 30px; }

.mas-boxes-inner {
  margin-bottom: 30px; }

.mas-link {
  color: #c80000;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: .9em; }
  .mas-link i {
    margin-left: 7px;
    vertical-align: middle;
    display: inline-block; }
  .mas-link:hover {
    color: #999; }

.post-comment-wrapper {
  padding: 50px 0;
  display: block;
  border-bottom: 1px solid #eee;
  clear: both; }
  .post-comment-wrapper h3 {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px; }

.comment-box {
  margin: 15px 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee; }
  .comment-box img {
    float: left;
    margin-right: 15px;
    width: 120px;
    height: 80px; }
  .comment-box p {
    overflow: hidden; }
  .comment-box span {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    display: block;
    margin-bottom: 5px; }

.comment-form-wrapper {
  padding: 40px 0;
  border-bottom: 1px solid #eee; }
  .comment-form-wrapper h3 {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .comment-form-wrapper .form-control {
    margin-bottom: 15px; }

/*==========================portfolio ==========================*/
.portfolio-sec {
  border: 1px solid #eee;
  color: #000;
  background-color: #fff;
  position: relative;
  margin-bottom: 20px; }

.portfolio-thumnail img {
  width: 100%;
  height: auto; }

.portfolio-desc {
  padding: 10px 0; }

h4.portfolio-post-title {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase; }

.portfolio-post-cat {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  color: #999; }

.portfolio-desc .theme-btn-default {
  margin-bottom: -55px; }

.flexslider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.portfolio-single-desc h3 {
  color: #000;
  font-size: 23px;
  font-weight: 800; }

.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
  background-color: rgb(228, 129, 128); }

.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active {
  background-color: #c80000; }

/** Full width master slider css**/
.title_main {
  color: #fff;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase; }

.sub-title {
  font-size: 20px;
  font-weight: 400;
  color: #fff; }

.slide-btn {
  display: block;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.slide-btn.btn1 {
  color: #fff;
  border: 1px solid #fff; }

.slide-btn.btn1:hover {
  color: #222;
  background: #fff; }

.slide-btn.btn2 {
  background: #c80000;
  border: 1px solid #c80000;
  color: #fff; }

.slide-btn.btn2:hover {
  opacity: 0.9; }

.full-wid {
  width: 100%; }

.text-center {
  text-align: center; }

/***team slider****/
.ms-staff-carousel {
  max-width: 1170px;
  overflow: hidden;
  margin: 25px auto;
  position: relative; }

.ms-staff-carousel .ms-view {
  overflow: visible;
  background-color: transparent; }

.ms-staff-carousel .ms-nav-prev,
.ms-staff-carousel .ms-nav-next {
  background: url(../img/arrows.png) white no-repeat -7px -57px;
  width: 35px;
  height: 40px;
  left: -35px;
  margin-top: -17px;
  box-shadow: 0px 1px 0px 0px #bebebe;
  position: absolute;
  top: 50%;
  cursor: pointer; }

.ms-staff-carousel .ms-nav-next {
  background-position: -6px -7px;
  right: -35px;
  left: auto; }

.ms-staff-carousel .ms-staff-info {
  font-family: "Poppins", sans-serif;
  text-align: center;
  max-width: 600px;
  margin-top: 30px;
  min-height: 220px;
  color: #222222; }

.ms-staff-carousel .ms-staff-info h3 {
  font-weight: 300;
  font-size: 22pt;
  margin: 0px; }

.ms-staff-carousel .ms-staff-info h4 {
  font-weight: 300;
  color: #787878;
  font-size: 15pt;
  margin: 3px; }

.ms-staff-carousel .ms-staff-info .email a {
  text-decoration: none;
  color: #3f95ab; }

.ms-staff-carousel .ms-staff-info.email, .ms-staff-info p {
  margin: 4px;
  font-size: 11pt; }

.ms-staff-carousel.ms-round .ms-slide-bgcont {
  border-radius: 5000px;
  border: solid 8px #e6e6e6;
  margin: 0 -8px; }

.ms-staff-carousel.ms-round .ms-nav-prev,
.ms-staff-carousel.ms-round .ms-nav-next {
  background-color: transparent;
  box-shadow: none;
  left: -45px; }

.ms-staff-carousel.ms-round .ms-nav-next {
  left: auto;
  right: -45px; }

.ms-socials {
  margin-top: 15px; }

.ms-socials li a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #c80000;
  color: #fff;
  display: block; }

.ms-socials li a i {
  display: block; }

/* 
    SHOP STYLE START HERE
*/
.product_item {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px; }

.product-thumb {
  overflow: hidden;
  position: relative;
  border: 1px solid #eee;
  border-bottom: 0px; }
  .product-thumb img {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%; }
  .product-thumb .product-thumb-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .product-thumb .product-thumb-overlay p {
      width: auto;
      height: auto;
      position: absolute;
      bottom: 0;
      right: -200%;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      margin: 0px; }
      .product-thumb .product-thumb-overlay p a {
        display: block;
        width: auto;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background-color: #c80000;
        text-align: left;
        font-size: 12px;
        margin-bottom: 1px;
        position: relative;
        padding-right: 5px;
        text-transform: capitalize; }
        .product-thumb .product-thumb-overlay p a:hover {
          background-color: #333; }
        .product-thumb .product-thumb-overlay p a i {
          display: inlune-block;
          margin-right: 5px;
          height: 40px;
          width: 40px;
          text-align: center;
          border-right: 1px solid rgba(255, 255, 255, 0.1);
          font-size: 14px; }
  .product-thumb:hover img {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .product-thumb:hover p {
    right: 0; }

.product-desc {
  padding: 15px 15px;
  padding-bottom: 0px;
  border: 1px solid #eee;
  border-top: 0px;
  text-align: center; }
  .product-desc h3 {
    font-size: 18px;
    text-transform: capitalize; }
    .product-desc h3 a {
      color: #333; }
      .product-desc h3 a:hover {
        color: #c80000; }
  .product-desc p {
    margin: 0px; }
  .product-desc a.btn {
    position: relative;
    bottom: -20px; }

.product-detail h2 {
  color: #333;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 400; }

.product-detail .price {
  font-size: 20px;
  color: #c80000;
  display: block;
  margin-bottom: 20px;
  font-weight: 300; }

.product-detail form.cart div.quantity {
  display: inline-block;
  vertical-align: top; }

.product-detail .quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1; }

.product-detail form.cart {
  margin-top: 30px; }

.product-detail form.cart div.quantity input.qty {
  height: 60px;
  width: 80px;
  font-size: 1em;
  padding-left: 2em; }

.product-detail form.cart .button {
  text-transform: uppercase;
  height: 60px;
  vertical-align: top;
  margin-left: -4px;
  padding-left: 5em;
  padding-right: 5em;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
  .product-detail form.cart .button:hover {
    background-color: #c80000;
    border-color: #c80000; }

.cart-socials ul li {
  padding: 0px; }
  .cart-socials ul li:first-child a {
    border-right: 1px solid #eee; }
  .cart-socials ul li a {
    font-size: 25px;
    color: #999;
    padding: 1px 8px;
    display: block; }
    .cart-socials ul li a:hover {
      color: #c80000; }

.item-info-tabs {
  text-align: center;
  border-bottom: 1px solid #eee; }
  .item-info-tabs > li {
    padding: 0px 20px; }
  .item-info-tabs > li > a {
    padding: 10px 0px;
    color: #aaa;
    display: block;
    border-bottom: 1px solid transparent; }
    .item-info-tabs > li > a:hover {
      color: #c80000; }
  .item-info-tabs > li.active a {
    color: #c80000; }

.product-extra-info {
  padding: 0;
  margin: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
  .product-extra-info li {
    color: #aaa;
    padding: 6px 0; }
  .product-extra-info > li > a {
    color: #aaa; }
    .product-extra-info > li > a:hover {
      color: #c80000; }
  .product-extra-info span {
    color: #000;
    margin-right: 5px;
    display: inline-block;
    width: 70px; }

.product-information .tab-content {
  padding-top: 30px; }

.reviews li {
  padding: 10px 0;
  padding-top: 20px;
  border-bottom: 1px solid #eee; }
  .reviews li:last-child {
    border-bottom: 0px; }

.reviews .avtar {
  display: block;
  float: left;
  margin-right: 20px; }

.reviews .review-content {
  overflow: hidden; }
  .reviews .review-content p {
    margin-top: 10px; }

.reviews h4 {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0px; }

.reviews .time-review {
  color: #c80000;
  display: block; }

.reviews .rating {
  float: right;
  color: #dc9814; }

.shopping-cart-table.table {
  border-bottom-width: 0;
  margin: 0; }
  .shopping-cart-table.table .td-qty {
    min-width: 48px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    width: 100px;
    vertical-align: middle; }
  .shopping-cart-table.table .td-images {
    width: 131px;
    vertical-align: middle; }
    .shopping-cart-table.table .td-images img {
      display: block;
      margin: 0 auto; }
  .shopping-cart-table.table .product-remove {
    font-size: 25px;
    color: #999; }
    .shopping-cart-table.table .product-remove:hover {
      color: #c80000; }
  .shopping-cart-table.table .td-name {
    text-align: left;
    vertical-align: middle; }
    .shopping-cart-table.table .td-name a {
      color: #999;
      font-size: 13px; }
      .shopping-cart-table.table .td-name a:hover {
        color: #c80000; }
  .shopping-cart-table.table .td-qty input {
    margin: 0;
    width: 40px;
    text-align: center; }
  .shopping-cart-table.table .td-edit {
    padding-left: 20px;
    padding-right: 20px;
    width: 92px;
    vertical-align: middle; }
  .shopping-cart-table.table a.edit {
    color: #707070;
    font-size: 12px;
    text-decoration: none; }
    .shopping-cart-table.table a.edit:hover {
      color: #c80000; }
  .shopping-cart-table.table .td-price {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 112px;
    vertical-align: middle; }
  .shopping-cart-table.table .td-total {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 102px;
    vertical-align: middle; }
  .shopping-cart-table.table .td-remove {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 60px;
    vertical-align: middle; }

.coupon-code {
  position: relative; }
  .coupon-code label {
    position: absolute;
    top: 0;
    left: 16px;
    font-size: 12px;
    line-height: 51px;
    color: #282828;
    height: 50px; }
  .coupon-code .input-text {
    font-size: 12px;
    width: 100%;
    height: 50px;
    padding: 14px 91px 15px 120px; }
  .coupon-code .button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 7px 16px; }

.cart-totals {
  background: #fafafa;
  border: 1px solid #e5e5e5; }
  .cart-totals > li {
    padding: 19px 21px;
    color: #000;
    border-top: 1px solid #e7e7e7;
    overflow: hidden; }
    .cart-totals > li:first-child {
      border-top: 0 none; }

.shipping-method li {
  padding-bottom: 5px; }

.shipping-method label {
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
  width: 85%;
  display: inline-block; }

.shipping-method .amount {
  display: inline-block;
  float: right; }

.calculate-shipping a {
  display: block;
  color: #000; }
  .calculate-shipping a i {
    float: right; }

.total-values {
  color: #c80000 !important;
  font-size: 20px; }

.checkout-top p {
  font-weight: 300;
  font-size: 18px;
  color: #aaa; }
  .checkout-top p a {
    color: #c80000;
    display: inline-block;
    margin-left: 4px; }
    .checkout-top p a i {
      display: inline-block;
      margin-left: 4px; }
    .checkout-top p a:hover {
      color: #aaa; }

.checkout-top .form-control {
  margin-bottom: 10px; }

label.error {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  color: red;
  float: none; }
  label.error:before, label.error:after {
    content: "";
    clear: both;
    display: table; }

.create-account {
  color: #aaa;
  font-size: 13px; }
  .create-account:hover {
    color: #c80000; }

.checkout-form .shipping-method label {
  width: 75%; }

.payment-methods {
  border: 1px solid #eee; }
  .payment-methods li {
    border-top: 1px solid #eee;
    padding: 20px 15px; }
    .payment-methods li:first-child {
      border-top: 0px; }
    .payment-methods li label {
      display: inline-block;
      margin-left: 10px;
      font-size: 13px;
      cursor: pointer; }
      .payment-methods li label img {
        margin-left: 10px; }
    .payment-methods li span {
      font-size: 12px;
      display: block;
      margin-top: 10px; }

.dropdown-menu.cart-dropdown {
  min-width: 280px; }
  .dropdown-menu.cart-dropdown li {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    border-bottom: 1px solid #eee; }
    .dropdown-menu.cart-dropdown li:last-child {
      border-bottom: 0px; }
    .dropdown-menu.cart-dropdown li img {
      display: inline-flex; }
    .dropdown-menu.cart-dropdown li h5 {
      margin: 0px; }
    .dropdown-menu.cart-dropdown li h5 a {
      color: #000;
      font-size: 13px; }
    .dropdown-menu.cart-dropdown li .cart-item-price {
      font-size: 12px;
      opacity: .75; }
      .dropdown-menu.cart-dropdown li .cart-item-price em {
        font-style: normal; }

/*all shop template css here*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start; }

/*pager**/
.pager li > a {
  color: #c80000; }

/*-----------------------------------services and features------------------------------------------*/
.services-box {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee; }
  .services-box i {
    color: #c80000;
    font-size: 44px;
    margin-bottom: 15px;
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #c80000;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  .services-box h1 {
    font-size: 16px;
    margin-bottom: 0px;
    color: #c80000;
    font-weight: 400;
    text-transform: capitalize; }
  .services-box:hover i {
    border-color: #c80000;
    background-color: #c80000;
    color: #fff; }

/*services option 2*/
.services-icon {
  text-align: center; }

.services-icon i {
  color: #fff;
  width: 80px;
  line-height: 80px;
  height: 80px;
  font-size: 34px;
  text-align: center;
  background-color: #c80000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block; }

.services-text h4 {
  color: #000;
  margin-bottom: 15px;
  font-weight: 600; }

/***services box new v1.4****/
.services-boxv2 {
  margin: 0; }
  .services-boxv2 .servicev2-icon {
    float: left;
    width: 50px; }
    .services-boxv2 .servicev2-icon i {
      color: #c80000;
      font-size: 30px; }
  .services-boxv2 .servicev2-text {
    overflow: hidden; }
    .services-boxv2 .servicev2-text h4 {
      color: #000;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 18px; }

/*features*/
.features h3 {
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase; }

.features p {
  color: #777; }

/**************************************testimonials******************************************/
.testimonials p.testi-text {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px; }

/*****************************social buttons************************/
.social-btn li a {
  display: block; }
  .social-btn li a i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5px;
    display: block; }

/****************breadcrumbs*********************************************/
.page-tree-bg,
.page-tree-bg2 {
  background-image: url("../img/bread-bg.png");
  background-position: center 688px;
  background-color: #c80000;
  padding: 40px 0;
  width: 100%;
  position: relative;
  /*background-size: cover;*/
  background-attachment: fixed;
  margin-bottom: 0px; }

.page-tree-bg2 {
  background-image: url("../img/bg-4.jpg");
  padding-top: 200px; }

h3.page-tree-text {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px #333;
  color: #fff;
  margin: 0px; }

/***********************bootstrap pagination override***************************/
.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #c80000;
  border-color: #c80000; }

.pagination li.active a, .pagination li.active a:hover {
  background-color: #c80000;
  border-color: #c80000; }

.pagination li a {
  color: #999; }
  .pagination li a:hover, .pagination li a:focus {
    color: #fff;
    background-color: #c80000;
    border-color: #c80000; }
    .pagination li a:hover.current, .pagination li a:focus.current {
      color: #fff;
      background-color: #eee;
      border-color: #ccc;
      cursor: default; }
  .pagination li a.current {
    color: #fff;
    background-color: #eee;
    cursor: default; }

/**************inner pages css**************************/
/*about page*/
.icon-list li {
  padding: 5px 0; }

.icon-list li i {
  color: #c80000;
  margin-right: 10px; }

/*team person*/
.person-section {
  border: 1px solid #eee; }
  .person-section img {
    display: block;
    margin: 0 auto; }

.person-desc {
  padding: 10px 10px; }

.person-desc h3 {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 2px; }

.person-desc span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  color: #7a7a7a;
  margin-left: 10px; }

.person-desc p {
  text-align: left; }

.team.social-btn li a i {
  color: #7a7a7a;
  border: 2px solid #7a7a7a; }

.hire-sec .services-icon i {
  background-color: #c80000;
  color: #fff;
  margin-bottom: 20px; }

.hire-sec .services-text .heading-mini {
  margin-bottom: 10px;
  color: #333; }

/*process*/
.process-box {
  text-align: center;
  padding: 30px 0; }

.process-box h4 {
  font-size: 18px; }

.process-box i {
  font-size: 54px;
  color: #c80000;
  margin-bottom: 20px; }

/*progress bar*/
h3.heading-progress {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  line-height: 20px; }

.progress {
  height: 15px;
  line-height: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #E9E9E9;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 30px; }

.progress-bar {
  line-height: 10px;
  background: #c80000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

/*************************login or signup form********************/
.my-login-form {
  padding: 30px 20px;
  border: 1px solid #eee; }

.form-btm-link a {
  color: #c80000; }

.form-btm-link a:hover {
  text-decoration: underline; }

.form-btm-link span {
  margin: 0px 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 23px; }

/*error page*/
.error-digit {
  font-size: 50px; }

.error-text h3 {
  font-family: "Playfair Display", serif;
  font-style: italic; }

/*contact*/
.my-contact-form form input {
  background-color: #f7f7f7; }

.my-contact-form textarea {
  background-color: #f7f7f7; }

#map-canvas {
  width: 100%;
  height: 400px; }

/************version v1.1 css here********************/
.home-slider {
  width: 100%; }

.carousel {
  position: relative; }

.home-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }

.home-slider .carousel-inner .item {
  overflow: hidden;
  width: 100%;
  height: 550px;
  background-color: #333 !important;
  padding: 100px 0 0; }

#item-1 {
  background-image: url("../img/img-5.jpg");
  width: 100%; }

#item-2 {
  background-image: url("../img/img-6.jpg");
  width: 100%; }

#item-3 {
  background-image: url("../img/img-4.jpg");
  width: 100%; }

a.carousel-control {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -25px;
  background-image: none !important;
  font-size: 52px;
  font-weight: 300;
  cursor: pointer; }

a.carousel-control i {
  color: #fff; }

.slider-wrapper {
  margin-top: 100px; }

.slider-wrapper h1 {
  color: #fff;
  font-weight: 300; }

.slider-wrapper p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px; }

.slider-wrapper-2 {
  margin-top: 60px; }

.slider-wrapper-2 h1 {
  color: #fff;
  font-weight: 300; }

.slider-2img {
  margin-top: 60px; }

.slider-wrapper-2 p {
  color: #fff; }

.slider-video-wrapper {
  margin-top: 60px; }

.slider-wrapper-3 {
  margin-top: 60px; }

.slider-wrapper-3 h1 {
  color: #fff;
  font-weight: 300; }

.slider-wrapper-3 p {
  color: #fff;
  font-size: 18px;
  font-weight: 300; }

/**slider carousel delay**/
.delay-1 {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: none;
  animation-delay: 300ms;
  -o-animation-delay: none; }

.delay-2 {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: none;
  animation-delay: 600ms;
  -o-animation-delay: none; }

.delay-3 {
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: none;
  animation-delay: 900ms;
  -o-animation-delay: none; }

.delay-4 {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: none;
  animation-delay: 1200ms;
  -o-animation-delay: none; }

.delay-5 {
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay: none;
  animation-delay: 1500ms;
  -o-animation-delay: none; }

.delay-6 {
  -webkit-animation-delay: 1800ms;
  -moz-animation-delay: none;
  animation-delay: 1800ms;
  -o-animation-delay: none; }

/******Version v1.2 css here********/
.direc-hover-box {
  overflow: hidden; }
  .direc-hover-box img {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  .direc-hover-box a .direc-overlay {
    position: absolute;
    background: rgba(75, 75, 75, 0.7);
    width: 100%;
    height: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    .direc-hover-box a .direc-overlay span {
      display: block;
      position: absolute;
      width: 100%;
      top: 50%;
      color: #fff;
      font-size: 20px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-transform: uppercase; }

/*.direc-hover-box:hover .direc-overlay{
    display: block;
}*/
@media (min-width: 1200px) {
  .boxed-wrapper {
    margin: 0 auto;
    width: 1170px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    border-top: 4px solid #c80000; }
  body.boxed {
    background-repeat: repeat;
    background-color: #c80000; } }

.boxed-wrapper .navbar-light.sticky {
  left: 0;
  top: 0;
  width: 100% !important;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 999 !important; }

/**newsletter section**/
.newsletter-section {
  text-align: center;
  padding: 60px 0;
  background-color: #f5f5f5; }
  .newsletter-section h3 {
    text-transform: uppercase;
    font-weight: 600;
    color: #000; }
  .newsletter-section p {
    margin-bottom: 30px; }
  .newsletter-section .form-control {
    margin-bottom: 15px; }
  .newsletter-section .error {
    color: #a84545;
    background-color: #ffb2b2; }
  .newsletter-section .success {
    color: green;
    border-color: green; }

.cta-bg {
  padding: 50px 0;
  background-color: #c80000; }

.cta-bg h3 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600; }

@media (min-width: 768px) {
  .cta-bg a {
    margin-left: 100px; } }

.radio-cehckboxed li {
  padding-bottom: 10px; }
  .radio-cehckboxed li label {
    margin-left: 10px;
    vertical-align: middle; }

/***********************************************************************************
*************************   Responsive css start here    ***************************
***********************************************************************************/
@media (max-width: 991px) {
  .header.header-light .navbar .navbar-brand .logo-light {
    opacity: 0;
    display: none; }
  .header.header-light .navbar.navbar-expand-lg {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); }
  .one-page-wrap .swiper-fullwidth {
    margin-top: 50px; }
  .top-bar {
    display: none; }
  .carousel.carouselBizwrap .carousel-item .carousel-content h3 {
    font-size: 1.5rem;
    line-height: 2rem; }
  .navbar-toggler {
    position: absolute;
    right: 1.5rem;
    top: 0;
    padding: 0px; }
    .navbar-toggler .navbar-toggler-icon {
      font-family: "Ionicons";
      line-height: 0;
      width: auto;
      height: auto; }
      .navbar-toggler .navbar-toggler-icon:before {
        content: "\f20e";
        font-size: 32px; }
    .navbar-toggler .right-search {
      position: absolute;
      right: 0;
      top: 0; }
  .right-search, .navbar-toggler {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0; }
  .navbar-toggler {
    right: 3rem; }
  .navbar .dropdown-menu {
    border: 0px;
    box-shadow: none;
    padding: 0px; }
    .navbar .dropdown-menu .dropdown-item {
      padding: 2px 20px; }
  .yamm .heading {
    margin-bottom: 0px;
    margin-top: 15px; }
  .yamm .col-lg-2 img {
    display: none !important; }
  h2 {
    font-size: 25px; }
  .navbar .right-search .dropdown-menu {
    padding: .5rem; } }

@media (max-width: 768px) {
  .swiper-fullwidth .swiper-slide .swiper-overlay .swiper-title {
    font-size: 1.25rem; }
  .swiper-fullwidth .swiper-slide .swiper-overlay .btn.btn-lg {
    padding: 8px 15px 5px; }
  .slider-text p {
    display: none; }
  .footer-copyright .footer-logo {
    text-align: center;
    margin-bottom: 10px; }
  .footer-copyright p {
    text-align: center; }
  .footer-copyright .footer-nav {
    text-align: center; } }

@media (max-width: 767px) {
  .carousel.carouselBizwrap {
    height: 400px; }
    .carousel.carouselBizwrap p {
      display: none; }
    .carousel.carouselBizwrap h3 {
      text-align: center; }
    .carousel.carouselBizwrap .carousel-control-prev:after, .carousel.carouselBizwrap .carousel-control-next:after {
      font-size: 25px; }
    .carousel.carouselBizwrap .carousel-item .carousel-content {
      margin: 0 auto;
      text-align: center; }
      .carousel.carouselBizwrap .carousel-item .carousel-content .img-fluid {
        display: none; }
  .text-xs-center {
    text-align: center; }
  .services-icon {
    margin-bottom: 20px; }
  #services .img-fluid {
    margin: 0 auto;
    margin-top: 30px;
    display: block; }
  .slider-wrapper {
    text-align: center; }
  .slider-wrapper-2 {
    text-align: center;
    margin-top: 50px; }
  .slider-wrapper-3 {
    text-align: center;
    margin-top: 50px; }
  .carousel-indicators {
    bottom: 20px; }
  .dropdown-submenu > .dropdown-menu {
    padding-left: 20px; }
  .dropdown-submenu > .dropdown-menu {
    display: block;
    margin-left: 15px; }
  .cart-dropdown {
    width: 100%; }
  .tabs .nav-tabs li {
    width: 100%;
    float: none;
    margin-bottom: 2px; }
  .tabs .nav-tabs li a {
    margin-right: 0 !important; }
  .tabs .nav-tabs li.active a {
    border-bottom: 2px solid #dcdcdc !important; }
  .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%; }
  .navbar-toggler {
    border: 0px; }
    .navbar-toggler:focus {
      outline: 0px; }
  /**one page transparent header responsive css**/
  .navbar.transparent-header.navbar-light {
    background-color: #fff; }
  .navbar.transparent-header.navbar-light .logo-scroll img {
    position: relative;
    top: 0; }
  .navbar.transparent-header.navbar-light .logo-scroll img.visible-default {
    display: none; }
  .navbar.transparent-header.navbar-light .logo-scroll .visible-scroll {
    opacity: 1; }
  .navbar.transparent-header.navbar-light .navbar-nav .nav-link.active {
    color: #c80000; }
  .navbar.transparent-header.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5); }
  .one-page-wrap .navbar .container {
    position: relative; }
  .one-page-wrap .slider-master {
    margin-top: 50px; } }

@media (max-width: 567px) {
  .coupon-code label {
    display: none; }
  .coupon-code .input-text {
    padding-left: 20px; } }

@media (max-width: 433px) {
  .slider-text h1 {
    margin-top: 30px;
    font-size: 16px; } }

@media (max-width: 375px) {
  .cart-dropdown {
    width: 100%; } }

@media (max-width: 360px) {
  a.carousel-control {
    display: none; }
  .carousel-inner .item {
    padding: 20px 0 0; }
  .slider-wrapper, .slider-wrapper-2, .slider-wrapper-3 {
    margin-top: 20px; }
  .carousel-indicators {
    bottom: 0px; } }
