{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BTP News</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        * {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        }

        img {
            max-width: 100%;
        }

        .collapse {
            margin: 0;
            padding: 0;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%!important;
            height: 100%;
        }

        a {
            color: #2BA6CB;
        }

        .btn {
            text-decoration: none;
            color: #FFF;
            background-color: #666;
            padding: 10px 16px;
            font-weight: bold;
            margin-right: 10px;
            text-align: center;
            cursor: pointer;
            display: inline-block;
        }

        p.callout {
            padding: 15px;
            background-color: #ECF8FF;
            margin-bottom: 15px;
        }

        .callout a {
            font-weight: bold;
            color: #2BA6CB;
        }

        table.social {
            /* 	padding:15px; */
            background-color: #ebebeb;

        }

        .social .soc-btn {
            padding: 3px 7px;
            font-size: 12px;
            margin-bottom: 10px;
            text-decoration: none;
            color: #FFF;
            font-weight: bold;
            display: block;
            text-align: center;
        }

        a.fb {
            background-color: #3B5998!important;
        }

        a.tw {
            background-color: #1daced!important;
        }

        a.gp {
            background-color: #DB4A39!important;
        }

        a.ms {
            background-color: #000!important;
        }

        .sidebar .soc-btn {
            display: block;
            width: 100%;
        }

        table.head-wrap {
            width: 100%;
        }

        .header.container table td.logo {
            padding: 15px;
        }

        .header.container table td.label {
            padding: 15px;
            padding-left: 0px;
        }

        table.body-wrap {
            width: 100%;
        }

        table.footer-wrap {
            width: 100%;
            clear: both!important;
        }

        .footer-wrap .container td.content p {
            border-top: 1px solid rgb(215, 215, 215);
            padding-top: 15px;
        }

        .footer-wrap .container td.content p {
            font-size: 10px;
            font-weight: bold;

        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                    Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.1;
            margin-bottom: 15px;
            color: #000;
        }

        h1 small,
        h2 small,
        h3 small,
        h4 small,
        h5 small,
        h6 small {
            font-size: 60%;
            color: #6f6f6f;
            line-height: 0;
            text-transform: none;
            padding-top: 10px;
            display: inline-block;
        }

        h1 {
            font-weight: 200;
            font-size: 44px;
        }

        h2 {
            font-weight: 200;
            font-size: 37px;
        }

        h3 {
            font-weight: 500;
            font-size: 27px;
        }

        h4 {
            font-weight: 500;
            font-size: 23px;
        }

        h5 {
            font-weight: 900;
            font-size: 17px;
        }

        h6 {
            font-weight: 900;
            font-size: 14px;
            text-transform: uppercase;
            color: #444;
        }

        .collapse {
            margin: 0!important;
        }

        p,
        ul {
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.6;
        }

        p.lead {
            font-size: 12px;
        }

        p.last {
            margin-bottom: 0px;
        }

        ul li {
            margin-left: 5px;
            list-style-position: inside;
        }

        ul.sidebar {
            background: #ebebeb;
            display: block;
            list-style-type: none;
        }

        ul.sidebar li {
            display: block;
            margin: 0;
        }

        ul.sidebar li a {
            text-decoration: none;
            color: #666;
            padding: 10px 16px;
            /* 	font-weight:bold; */
            margin-right: 10px;
            /* 	text-align:center; */
            cursor: pointer;
            border-bottom: 1px solid #777777;
            border-top: 1px solid #FFFFFF;
            display: block;
            margin: 0;
        }

        ul.sidebar li a.last {
            border-bottom-width: 0px;
        }

        ul.sidebar li a h1,
        ul.sidebar li a h2,
        ul.sidebar li a h3,
        ul.sidebar li a h4,
        ul.sidebar li a h5,
        ul.sidebar li a h6,
        ul.sidebar li a p {
            margin-bottom: 0!important;
        }

        .container {
            display: block!important;
            max-width: 600px!important;
            margin: 0 auto!important;
            clear: both!important;
        }

        .content {
            padding: 15px;
            max-width: 600px;
            margin: 0 auto;
            display: block;
        }

        .content table {
            width: 100%;
        }

        .column {
            width: 300px;
            float: left;
        }

        .column tr td {
            padding: 15px;
        }

        .column-wrap {
            padding: 0!important;
            margin: 0 auto;
            max-width: 600px!important;
        }

        .column table {
            width: 100%;
        }

        .social .column {
            width: 280px;
            min-width: 279px;
            float: left;
        }

        .clear {
            display: block;
            clear: both;
        }

        @media only screen and (max-width: 600px) {

            a[class="btn"] {
                display: block!important;
                margin-bottom: 10px!important;
                background-image: none!important;
                margin-right: 0!important;
            }

            div[class="column"] {
                width: auto!important;
                float: none!important;
            }

            table.social div[class="column"] {
                width: auto!important;
            }

        }

        #image-logo {
            background-color: #EEEEEE;
            height: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>

<body bgcolor="#FFFFFF">

    <!-- HEADER -->
    <table class="head-wrap" bgcolor="#EEEEEE">
        <tr>
            <td></td>
            <td class="header container">

                <div class="content">
                    <table bgcolor="#EEEEEE">
                        <tr>
                            <td><img height="60px" src="https://image.ibb.co/hn4Fnf/logo-apo.png" /></td>
                            <td align="right">
                                <h6 class="collapse"></h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <!-- /HEADER -->

    <!-- BODY -->
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <h3>Bonjour,</h3>
                                <p class="lead">Vous avez une nouvelle offre à prepos de votre {{ type }}</p>

                                <!-- A Real Hero (and a real human being) -->
                                <p style="background-color: #EEEEEE;">
                                    <div class="header-image">
                                        {% if contact.company.logo.url is not None %}
                                            <img id="image-logo" src="{{ contact.company.logo.url }}" />
                                        {% else %}
                                            <img id="image-logo" src="{% static 'images/company-logo-05.png' %}" />
                                        {% endif %}
                                    </div>
                                </p>
                                <!-- /hero -->

                                <!-- Callout Panel -->
                                <p class="callout">
                                    {% if type == 'ao' %}
                                        Consulter <a href="http://127.0.0.1:8000/ao/{{ contact.ao.id }}/details">{{ type }}</a> source
                                    {% else %}
                                        Consulter <a href="http://127.0.0.1:8000/ao/{{ contact.project.ao.id }}/project/{{ contact.project.id }}">{{ type }}</a> source
                                    {% endif %}

                                </p>
                                <!-- /Callout Panel -->

                                <h3>{{ contact.company }} <br>
                                    <small>Activité: <b>{{ contact.company.activity }}</b></small>
                                    <br>
                                    <small>Budget estimé: <b>{{ contact.budget }}</b></small>
                                    <br>
                                    <small>Nombre de jours de réalisation: <b>{{ contact.days }}</b></small>
                                </h3>
                                <p>{{ contact.message }}</p>
                                <h4>Information de contact <br>
                                    <small>Email: <strong>{{ contact.company.mail }}</strong></small>
                                    <br>
                                    <small>Téléphone: <strong>{{ contact.company.telephone }}</strong></small>
                                    <br>
                                    {% if contact.company.fax is not None %}
                                        <small>Fax: <strong>{{ contact.company.fax }}</strong></small>
                                    {% endif %}
                                </h4>
                                {% if contact.file.url is not None %}
                                    <a class="btn" style="color: #FFF" href="http://127.0.0.1:8000{{ contact.file.url }}">
                                    Attachement</a>
                                {% endif %}
                                <br/>
                                <br/>

                                <!-- social & contact -->
                                <table class="social" width="100%">
                                    <tr>
                                        <td>

                                            <!--- column 1 -->
                                            <table align="left" class="column">
                                                <tr>
                                                    <td>

                                                        <h5 class="">Connectez-vous avec nous:</h5>
                                                        <p class="">
                                                            <a href="#" class="soc-btn fb">Facebook</a>
                                                            <a href="#" class="soc-btn tw">Twitter</a>
                                                            <a href="#" class="soc-btn gp">Google+</a>
                                                        </p>


                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- /column 1 -->

                                            <!--- column 2 -->
                                            <table align="left" class="column">
                                                <tr>
                                                    <td>

                                                        <h5 class="">Ou contactez nous:</h5>
                                                        <p>Téléphone: <strong>00212625847379</strong><br/> Email: <strong>
                                                            <a href="#">anass.urh@outlook.fr</a></strong></p>

                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- /column 2 -->

                                            <span class="clear"></span>

                                        </td>
                                    </tr>
                                </table>
                                <!-- /social & contact -->


                            </td>
                        </tr>
                    </table>
                </div>

            </td>
            <td></td>
        </tr>
    </table>
    <!-- /BODY -->

    <!-- FOOTER -->
    <table class="footer-wrap">
        <tr>
            <td></td>
            <td class="container">

                <!-- content -->
                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>
                                    <a href="#">À PROPOS</a> |
                                    <a href="#">PRIVACY</a> |
                                    <a href="#">PLATEFORME</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

            </td>
            <td></td>
        </tr>
    </table>
    <!-- /FOOTER -->

</body>

</html>