{% load static %}

<!doctype html>
<html lang="fr">

<head>

<!-- Basic Page Needs
================================================== -->
<title>AO - Ecosysteme BTP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/blue.css' %}">
<link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
<link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">

<style>
    .header-notifications-trigger-me, .header-notifications-trigger-me a {
        font-size: 22px;
        color: #333;
        position: relative;
        top: 55%;
        transform: translate3d(0,-50%,0);
    }
    .header-notifications-trigger-me span{
        display: inline-block;
        top: -15px;
        margin-left: -10px;
        font-weight: 700;
        height: 19px;
        width: 19px;
        line-height: 19px;
        text-align: center;
        color: #fff;
        font-size: 11px;
        background-color: #ea4c0f;
        border-radius: 50%;
        position: relative;
    }
</style>

{% block style %}

{% endblock %}

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

{% include 'ao/includes/top_nav_fixed.html' %}

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth not-sticky">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Logo -->
				<div id="logo">
					<a href="{% url 'ao:home' %}"><img src="{% static 'images/logo_ao_min.png' %}" alt=""></a>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">
						<li><a href="{% url 'ao:home' %}">Acceuil</a></li>
						<li><a href="{% url 'ao:search' %}">Appels d'offres</a></li>
                        {% if ao_profile is not None %}
                            <li><a href="{% url 'ao:add_ao' %}">Postuler</a></li>
                            <li style="margin-top: 0">
                                <a href="#">Compte</a>
                                <ul class="dropdown-nav">
                                    <li><a href="{% url 'ao:profile' ao_profile.id %}">Profil</a></li>
                                    <li><a href="{% url 'ao:saves' ao_profile.id %}">Enregistrement</a></li>
                                    <li><a href="{% url 'ao:profile_settings' %}">Paramétres</a></li>
                                </ul>
                            </li>
                        {% endif %}
						<li><a href="{% url 'ao:contact' %}">Contacter nous</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->

			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<!--  User Notifications -->
				<div class="header-widget hide-on-mobile">
					<!-- Notifications -->
					<div class="header-notifications">
						<div class="header-notifications-trigger-me">
                            {% if ao_profile is not None %}
							    <a href="{% url 'ao:profile' ao_profile.id %}" title="Appels d'offres">
                                    <i class="icon-feather-briefcase"></i><span>{{ ao_count }}</span></a>
                            {% else %}
                                <a href="javascript:void(0);" title="Appels d'offres">
                                    <i class="icon-feather-briefcase"></i><span>{{ ao_count }}</span></a>
                            {% endif %}
						</div>
					</div>

					<!-- Messages -->
					<div class="header-notifications">
						<div class="header-notifications-trigger-me">
                            {% if ao_profile is not None %}
                                <a href="{% url 'ao:saves' ao_profile.id %}">
                                    <i class="icon-feather-star"></i><span>{{ save_count }}</span></a>
                            {% else %}
                                <a href="javascript:void(0);" title="Enregistrements">
                                    <i class="icon-feather-star"></i><span>{{ save_count }}</span></a>
                            {% endif %}
						</div>
					</div>

				</div>
				<!--  User Notifications / End -->

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->
		</div>
	</div>
	<!-- Header / End -->
</header>

<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Page Content
================================================== -->
<div class="full-page-container">

    {% block sidebar %}

    {% endblock %}

	<!-- Full Page Content -->
	<div class="full-page-content-container" data-simplebar>
		<div class="full-page-content-inner">
            
            {% block content %}
            
            {% endblock %}
            
			<!-- Footer -->
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2018 <strong>Ecosysteme-BTP</strong>. Tous les droits sont réservés.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Full Page Content / End -->

</div>


</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
<script src="{% static 'js/mmenu.min.js' %}"></script>
<script src="{% static 'js/tippy.all.min.js' %}"></script>
<script src="{% static 'js/simplebar.min.js' %}"></script>
<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/snackbar.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/ajax_functions.js' %}"></script>

<script>
    // Snackbar for user status switcher
    $('#snackbar-user-status label').click(function() {
        Snackbar.show({
            text: 'Your status has been changed!',
            pos: 'bottom-center',
            showAction: false,
            actionText: "Dismiss",
            duration: 3000,
            textColor: '#fff',
            backgroundColor: '#383838'
        });
    });
</script>

{% block script %}

{% endblock %}

</body>

</html>