{% extends 'ao/base_small.html' %}

{% load static %}

{% block style %}
    <style>
        .autocomplete-items{
            top: 48px;
            margin: -1px;
        }
        .autocomplete-items div{
            padding-left: 20px;
        }
    </style>
{% endblock %}

{% block sidebar %}
    <div class="full-page-sidebar">
		<div class="full-page-sidebar-inner" data-simplebar>
    <form action="" method="post" id="form-search" onsubmit="sub()">
        {% csrf_token %}
        <div class="sidebar-container">

            <!-- Location -->
            <div class="sidebar-widget">
                <h3>Titre</h3>
                <div class="input-with-icon">
                    <input autocomplete="off" name="title" type="text" placeholder="Titre">
                    <i class="icon-material-outline-text-fields"></i>
                </div>
            </div>

            <!-- Location -->
            <div class="sidebar-widget">
                <h3>Ville</h3>
                <div class="input-with-icon">
                    <div id="autocomplete-container">
                        <input id="autocomplete-ville" autocomplete="off" name="city" type="text" placeholder="Ville">
                    </div>
                    <i class="icon-material-outline-location-on"></i>
                </div>
            </div>


            <!-- Keywords -->
            <!--
            <div class="sidebar-widget">
                <h3>Keywords</h3>
                <div class="keywords-container">
                    <div class="keyword-input-container">
                        <input type="text" class="keyword-input" placeholder="exemple: Construction" name="keyword"/>
                        <input type="hidden" name="keywords" id="keywords">
                        <button class="keyword-input-button ripple-effect" type="button">
                            <i class="icon-material-outline-add"></i>
                        </button>
                    </div>
                    <div class="keywords-list"> -->
                        <!-- keywords go here -->
                    <!--
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            -->

            <!-- Category -->
            <div class="sidebar-widget">
                <h3>Catégorie</h3>
                <select class="selectpicker default" name="category" multiple data-selected-text-format="count" data-size="7" title="Toutres les Categories" >
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="sidebar-widget">
                <h3>Budget</h3>
                <div class="input-with-icon">
                    <input name="budget" type="number" placeholder="Budget">
                    <i class="icon-material-outline-money"></i>
                </div>
            </div>

            <div class="sidebar-widget">
                <h3>Date Fin</h3>
                <div class="input-with-icon">
                    <input name="dateLimit" type="date" placeholder="Date fin">
                    <i class="icon-feather-clock"></i>
                </div>
            </div>

            <!-- Job Types -->
            <div class="sidebar-widget">
                <h3>Type d'annonceur</h3>

                <div class="switches-list">
                    <div class="switch-container">
                        <label class="switch">
                            <input type="checkbox" name="par">
                            <span class="switch-button"></span> Particulier
                        </label>
                    </div>
                    <div class="switch-container">
                        <label class="switch">
                            <input type="checkbox" name="pro">
                            <span class="switch-button"></span> Entreprise
                        </label>
                    </div>
                </div>
            </div>

            <!--
            <div class="sidebar-widget">
                <h3>Ajouter Projets au résultat</h3>
                <div class="switches-list">
                    <div class="switch-container">
                        <label class="switch">
                            <input type="checkbox" name="project">
                            <span class="switch-button" id="switch_project"></span> Projets
                        </label>
                    </div>
                </div>
            </div>
            -->

        </div>
        <!-- Sidebar Container / End -->

        <!-- Search Button -->
        <div class="sidebar-search-button-container">
            <button class="button ripple-effect" type="submit">Rechecher</button>
        </div>
        <!-- Search Button / End-->
    </form></div></div>
{% endblock %}


{% block content %}

    <h3 class="page-title">
    {% if post %}
        Résultat de la recherche
    {% else %}
        Liste des appels d'offres
    {% endif %}
    </h3>

    <div class="notify-box margin-top-15">
        <div class="switch-container">
            <span><b>{{ count }}</b> appels d'offre trouvés</span>
        </div>

        {% if not post %}
        <div class="sort-by">
            <span>Trier par:</span>
            <form action="" style="display: inline">
                <select class="selectpicker hide-tick" name="order" id="order" onchange="this.form.submit()">
                    <option value="1">Date Création</option>
                    <option value="2">Date Fin</option>
                    <option value="3">Views</option>
                </select>
            </form>
        </div>
        {% endif %}
    </div>

    <div class="listings-container grid-layout margin-top-35">

        {% for ao in aos %}
            <!-- Job Listing -->
            <a href="{% url 'ao:ao' ao.id %}" class="job-listing">

                <!-- Job Listing Details -->
                <div class="job-listing-details">
                    <!-- Logo -->
                    <div class="job-listing-company-logo">
                        {% if ao.image is not None %}
                            <img src="{{ ao.image }}" alt="">
                        {% else %}
                            <img src="{% static 'images/company-logo-05.png' %}">
                        {% endif %}
                    </div>

                    <!-- Details -->
                    <div class="job-listing-description">
                        <h4 class="job-listing-company">
                            {{ ao.company }}
                            {% if aor.type_user != 'particular' %}
                                <span class="verified-badge" title="Entreprise" data-tippy-placement="top"></span>
                            {% endif %}
                        </h4>
                        <h3 class="job-listing-title">{{ ao.title }}</h3>
                    </div>
                </div>

                <!-- Job Listing Footer -->
                <div class="job-listing-footer">
                    {% if profile_id is not None %}
                        <form style="display: inline" data-url="{% url 'ao:add_save' profile_id ao.id %}?type=ao" id="form_save">
                            <button type="submit" class="add_save">
                                <span class="bookmark-icon"></span>
                            </button>
                        </form>
                    {% endif %}
                    <ul>
                        <li><i class="icon-material-outline-location-on"></i> {{ ao.cities }}</li>
                        <li><i class="icon-material-outline-account-balance-wallet"></i> {{ ao.budget }}</li>
                        <li><i class="icon-material-outline-access-time"></i> {{ ao.creation_date }}</li>
                    </ul>
                </div>
            </a>
        {% endfor %}

    </div>

    <!-- Pagination -->
    <div class="clearfix"></div>
    <div class="pagination-container margin-top-20 margin-bottom-20">
        {% if aos.has_other_pages %}
            <nav class="pagination">
                <ul>
                {% if aos.has_previous %}
                    <li class="pagination-arrow">
                        <a href="?page={{ aos.previous_page_number }}" class="ripple-effect">
                            <i class="icon-material-outline-keyboard-arrow-left"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="pagination-arrow disabled" style="cursor: not-allowed;">
                        <a href="javascript:void(0);" class="ripple-effect disabled" style="pointer-events: none;">
                            <i class="icon-material-outline-keyboard-arrow-left"></i>
                        </a>
                    </li>
                {% endif %}

                {% for i in aos.paginator.page_range %}
                    {% if aos.number == i %}
                        <li><a href="javascript:void(0);" class="ripple-effect current-page">{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}" class="ripple-effect">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if aos.has_next %}
                    <li class="pagination-arrow">
                        <a href="?page={{ aos.next_page_number }}" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a>
                    </li>
                {% else %}
                    <li class="pagination-arrow" style="cursor: not-allowed;">
                        <a href="javascript:void(0);" class="ripple-effect" style="pointer-events: none;">
                            <i class="icon-material-outline-keyboard-arrow-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
            </nav>
        {% endif %}
    </div>
    <div class="clearfix"></div>
    <!-- Pagination / End -->

{% endblock %}

{% block script %}

    <script>

        {% if not post %}
            $("#order").val({{ order }});
        {% endif %}

        function sub () {
            var keys = $("#keywords");
            $(".keywords-list .keyword-text").each(function() {
                var val = keys.val();
                val += ',' + $(this).text();
                keys.val(val);
            });
            console.log(keys);
        }

          let autocomplete_strings = [];
          {% for s in cities %}
              autocomplete_strings.push("{{s}}");
          {% endfor %}
          autocomplete(document.getElementById("autocomplete-ville"), autocomplete_strings);

    </script>

{% endblock %}
